.main-div{
	text-align:center;
	vertical-align: middle;
}

.title{
	height: 70px;
	width: 25%;
}

.seach{
	outline: 0;
	padding: 15px 15px;
	width: 55%;
	border-radius: 10px;
	border:1px solid #aaaaaa;
}

.seach-icon{
	height: 4%;
	width: 4%;
	vertical-align:middle;
}

.seach:focus{
	transition-duration: 0.5s;
	border-radius: 30px;
}

